/**
* ----------------------------------------------------------------------------------------------------
* @IMPORTS
* ----------------------------------------------------------------------------------------------------
*/

@import "compass/css3";
@import "compass/reset";
@import "compass/typography";
@import "compass/utilities/sprites";
// $social-spacing: 2px;
// $social-layout: horizontal;
// @import "social/*.png";
// $main-spacing: 1px;
// $main-layout: horizontal;
// @import "main/*.png";
// $social-sprite-dimensions: true;
// $main-sprite-dimensions: true;

/**
* ----------------------------------------------------------------------------------------------------
* FONTS
* ----------------------------------------------------------------------------------------------------
*/



/**
* ----------------------------------------------------------------------------------------------------
* VARIABLES
* ----------------------------------------------------------------------------------------------------
*/

$white: #fff;
$black: #000;

/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}

// Stcky Footer
html, body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -142px;
}

.wrap:after {
	content: "";
	display: block;
}

.footer, .wrap:after {
	height: 142px;
}


