/**
* ----------------------------------------------------------------------------------------------------
* @IMPORTS
* ----------------------------------------------------------------------------------------------------
*/

@import "compass/reset";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities/sprites";
// $social-layout: diagonal;
// @import "social/*.png";
// $main-layout: diagonal;
// @import "main/*.png";
// $social-sprite-dimensions: true;
// $main-sprite-demetsions: true;

/**
* ----------------------------------------------------------------------------------------------------
* FONTS
* ----------------------------------------------------------------------------------------------------
*/



/**
* ----------------------------------------------------------------------------------------------------
* VARIABLES
* ----------------------------------------------------------------------------------------------------
*/

$white: #fff;

/**
* ----------------------------------------------------------------------------------------------------
* MAIN STYLES
* ----------------------------------------------------------------------------------------------------
*/

.btn {
	display: inline-block;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	line-height: 0;
	clear: both;
	visibility: hidden;
}